# Directories #################################################################
/.secrets/
/.DS_Store/
/.idea/
/.vscode/
/bin/
/dev/
/hack/gardener-util/tools/bin/
/local/
/tmp/
**/dev

# Specific files ##############################################################
# Build output
/main

# By extension ################################################################
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.coverprofile
*.html
*~

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# GitGuardian
.cache_ggshield
