# Directories #################################################################
/.secrets/
/.idea/
/.vscode/
/bin/
/dev/
/hack/tools/bin
/local/
/tmp/
**/dev

# Specific files ##############################################################
# Build output
/main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.coverprofile
*.html
.DS_Store
*~

TODO

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# GitGuardian
.cache_ggshield
